!!!
%html
  %head
    %title MeetButcher
  %body
    %h1 Meet-ups in Melbourne this week
    - meetups.each do |meetup|
      %h2
        = meetup[:group][:name]
      %h3
        = meetup[:name]
      - if meetup.has_key? :venue
        %p
          = meetup[:venue][:name]
